/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

body {
  padding: 0;
  margin: 0;
}

header,
footer {
  background-color: lightgray;
  padding: 8px;
}

.main-body {
  flex: 1 0 auto;
  position: relative;
  /* margin-top: 200px; */
  margin-bottom: 60px;
}

header {
  margin-bottom: 1rem;
}

h1 {
  margin: 0;
  display: inline;
}

input,
textarea {
  margin-bottom: 0.5rem;
}

input[type="submit"] {
  margin-top: 10px;
  font-size: 2rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 8px;
}

form {
  flex-shrink: 0;
  margin-right: 2em;
  margin-bottom: 2em;
}

.img {
  flex-grow: 0;
  flex-shrink: 1;
}

footer {
  display: flex;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  line-height: 40px;
}
.made-with-love {
  float: left;
}
.feature-request {
  float: right;
}

.love-font {
  font-family: "love", "Times New Roman", Times, serif;
}

.login-status {
  float: right;
  height: 3rem;
  text-align: right;
}
