<h1>Login Error</h1>
<p>Contact help@cru.org to verify that you are a member of one of the Email Distribution Lists that are allowed to use the Bill Bucks Generator or <%= link_to "try again", login_path %>.</p>